    <footer style="width:100vw;padding:1%;background-color:black;margin-top:auto;">
        <p style="color: white;font-weight:600 ;text-align:center">
            created with â¤ by Ritik Bhatt
        </p>
    </footer>